h1 {
  color: #003366;
  font-family: sans-serif;
}
table {
  border-collapse: collapse;
}
th, td {
  border: 2px solid #003366;
  padding: 10px;
  font-family: sans-serif;
}
.navbar,
.navbar-default{
    background: #203470
}
#pagination-container {
  width:80%;
  margin : 0;
}
#page-no-text {
  width:20%;
  margin : 0;
  float : left ;
}
.container  {
  display: -webkit-flex;
  -webkit-align-items: center;
  display: flex;
  align-items: center;
}
